nav{
    margin-bottom: 100px;
    background-image: url(leaves.gif);
    width: 100%;
    height: 150px;
    
}
nav:hover{
    transform: scale(1.05);
}
.list{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    
   
}